<h1>Register Now!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name, :placeholder => "first/last..." %>
  Email: <%= f.text_field :email, :placeholder => "email..." %>
  Password: <%= f.password_field :password, :placeholder => "create password..." %>
  Password Confirmation: <%= f.password_field :password_confirmation, :placeholder => "confirm..." %>
  <%= f.submit "Submit" %>

<% end %>